name: CI - FastAPI ATV2

on:
  push:
    branches: [ main, feat/pytest-fixture-mock ]
  pull_request:
    branches: [ main, feat/pytest-fixture-mock ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Rodar Black
        run: black .

      - name: Rodar Flake8
        run: flake8 .

      - name: Rodar Pytest
        run: pytest -v
